@model Salvanimal_Auth.Models.NoticiasEntity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NoticiasEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorpoNoticia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorpoNoticia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NoticiaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
