@model Salvanimal.Models.QuotasEntity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>QuotasEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserContext.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserContext.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descrição)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descrição)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QuotaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
